body { 
	background-color: #edf0f2;
}
.menu {
	float: left;
	width: 21.5%;
	background-color: #72747a;
	top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}
.content {
	align-content: initial;
	background-color: #fcfcfc;
	height: auto;
    width: 60%;
    margin-left: 22%;
    position: absolute;
    top: 0;
    left: 0;
}
.head {
	font-size: 30;
}
.heading {
	text-align: center;
	color: #686868;
	font-size: 25;
}
.code {
	font-size: 20;
	margin-left: 2%;
}
p {
	margin-right: 10px;
	color: #1b1210;
	font-size: 19;
	margin-left: 2%;
}
b {
	font-size: 20;
}
h1, h2 {
	text-align: center;
	color: #686868;
}
ul {
	list-style: none;
}
li {
	font-size: 20;
}
a {
	color: #d9d9d9;
}