header { 
	width: 100%;
	height: 15.5%;
	box-shadow: 2px 0 7px;
	border-radius: 3px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #d3d4d6; /* цвет меню #e8e8e8 */
}
body {
	/* background: #d8d7dc;  цвет заднего фона */
	background-image: url(image/fon.jpg);
	background-repeat: repeat;
	align-content: center;
}
.content {
	background-color: #f0f1f4; /* цвет заднего фона под текстом #f4f4f2 */
	border-radius: 3px;
	box-shadow: 2px 0 7px;
	height: auto;
    width: 70%;
    margin: 6px auto 10px auto;
    padding: 10px 25px 20px;
    position: relative;
    align-content: center;
}
.head {
	font-size: 30;
}
.heading {
	text-align: center;
	color: #686868;
	font-size: 25;
}
.code {
	font-size: 20;
	margin-left: 2%;
}
p {
	margin-right: 10px;
	color: #1b1210;
	font-size: 19;
	margin-left: 2%;
}
b {
	font-size: 20;
}
h1, h2 {
	text-align: center;
	color: #686868;
}

.logo {
	margin-bottom: 2%;
	margin-left: 35%;
	float: left;
	display: inline;
}
.logo2 {
	margin-bottom: 2%;
	margin-left: 2%;
	float: left;
	display: inline;
}
.name {
	float:left;
	display: inline;
	color: #03426A;
	margin-left: 2%;
	margin-top: 2.25%;
}